.container {
    text-align: center;
    background-color: #222222;
    border:0 solid #080808;   
    border-width: 1px;
    margin-top:50px;
    padding-left: 10px;
    padding-bottom: 90px;

}


#createRecord {
    float:right;
    display: inline;
    clear:right;
    margin-right: 20px;  
    
}

.form-control{
    border:1px solid #000000;
}


#head{
  text-align:center;
  height: 60px;
  background-color: #222222;
  border:0 solid #080808;
  border-bottom-width: 1px;
  padding-top: 10px;
  margin-bottom: 10px;
}

#foot{
  text-align:center;
  height: 70px;
  background-color: #222222;
  border:0 solid #080808;
  border-top-width: 1px;
  margin-top:50px;
  padding-top: 10px;
}