<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HotelController</servlet-name>
        <servlet-class>hotel.controller.HotelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>hotel.controller.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HotelController</servlet-name>
        <url-pattern>/HotelController</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/hotel</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>dbStrategy</param-name>
        <param-value>hotel.model.DB_Mysql</param-value>
    </context-param>
    <!--    <listener>
        <listener-class>listener.HotelSessionListener</listener-class>
    </listener>-->
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
